<html>
    <head>
        <title>Welcome to indis</title>
    </head>
    <body>
        <h1>Success!</h1>
        <h3>
           Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (4/4), 336 bytes | 336.00 KiB/s, done.
Total 4 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/Madanalaanand/ansiblepracties.git
   bf9ba3e..d3d5c20  master -> master
Branch 'master' set up to track remote branch 'master' from 'origin'.
PS D:\ansiblepracties> 
        </h3>
    </body>
</html>